* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ababab;
}
canvas {
    margin: auto 0;
    margin-left: 60px;
    margin-top: 8px;
    border: 1px solid black
}
.contenedor {
    position: relative; 
    display: inline-block;
}
.vida{
    color: white;
    margin-right: 20px;
}
.contenedor-barras {
    position: absolute;
    display: flex;
    width: 100%;
    margin: 32px;
}
.vida-jugador {
    position: absolute;
    background: rgb(27, 175, 20);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
}
.vida-enemigo {
    position: absolute;
    background: rgb(27, 175, 20);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 34px;
}
.borde-blanco {
    position: relative;
    width: 100%;
    border: 2px solid white;
}
.vida-vacia {
    background-color: red; 
    height: 34px;
}
.espacio {
    width: 120px;
}
